body {
    background: #616161;
    font-family: 'Open Sans','sans-serif'
}

#cv {
    width: 900px;
    margin: 0 auto;
    margin-top:20px;
    box-shadow: -1px 8px 50px 5px rgba(0,0,0,0.75)
}
#profile {
    background: #1e1e1e;
    color:#a5a5a5;
    padding: 25px;
}
#intro{
    display: flex;
    border-bottom: 1px solid #a5a5a5;
    align-items:center;
    
}
#intro img{
    border-radius:50%;
    width:170px;
    height:170px;
    margin-right:25px;
}

#intro header{
    margin-right: 25px;
    text-transform: uppercase;
}
#intro header h1 {
    font-weight: 300;
    color: #fff;
    font-size: 25px;
    margin:0;
}
#intro header h2 {
    margin:0;
    font-weight: 600;
    color:#d07628;
    font-size: 40px;
}
#intro header h3 {
    margin:0;
    font-weight: 400;
    color: #fff
}
#about {
    border-left:2px solid #a5a5a5;
    padding: 15px;
    width:auto;
    font-family: 'Levenim MT';
    margin-bottom:10px;
}
#contact-info{
    display:flex;
    border-bottom: 1px solid;
}
#contact-info ul {
    list-style: none;
}
#contact-info ul:first-child {
    font-weight: 600;
}
#social-networks{
    display:flex;
    justify-content:space-between;
    list-style: none;
    padding:0;
}
#social-networks a {
    text-decoration: none;
    color:#fff;
    margin-left:4px;
}
#content-wrapper{
	display:flex;
	background:white;
	margin:0 auto;
}
#side{
	margin-left:15px;
	width:20%;
	
}
#inside{
	display:flex;
	justify-content:space-between;
	flex-direction: column;
	height:500px;
}
#content{
	margin-top:75px;
	width:45%;
	display:flex;
	justify-content:space-between;
	flex-direction: column;
	padding-left:20px;
}
#skills{
	width:35%;
}
#reverse,#kill {
	height:150px;
	background:#26c6da;
	display:flex;
	padding:0px;
}
#kill {
	background:#afb42b;
	display:flex;
}
#reverse ul{
	list-style: none;
	width:50%;
	padding-right:10px;
}
#reverse ul:nth-child(2){
	padding:0;
	padding-right:15px;
	color:#a5a5a5
}
#reverse li{
	padding-bottom:4px;
}